[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
"autopep8" = "*"
flask = "*"
flask-restful = "*"
gunicorn = {extras = ["gevent"],version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
brighthive-authlib = "*"
requests = "*"
gevent = "*"
watchtower = "*"
boto3 = "*"
mci-database = {editable = true, git = "https://github.com/brighthive/mci-database.git", ref = "master"}

[dev-packages]
expects = "*"
pytest = "*"
pytest-cov = "*"
docker = "*"
sphinx = "*"
pytest-mock = "*"
requests-mock = "*"
mock = "*"

[requires]
python_version = "3.8"
