[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
"autopep8" = "*"
flask = "*"
flask-restful = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
brighthive-authlib = "*"
requests = "*"
mci-database = {editable = true,git = "http://github.com/brighthive/mci-database.git"}

[dev-packages]
expects = "*"
pytest = "*"
pytest-cov = "*"
docker = "*"
sphinx = "*"
pytest-mock = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
